/* Hero Header */
.mobile-hero-desktop-header {
  min-height: 61.375rem;
  background: center / cover no-repeat url('../images/Mobile-Concentration.jpg');
  position: relative;
}

h1 {
  width: 15rem;
  margin-inline: auto;
  padding: 1rem 0 0 0;
  text-shadow: 2px 2px 2px #ffffff54, -2px -2px 2px #ffffff54, -2px 2px 2px #ffffff54, 2px -2px 2px #ffffff54;
}

/* Intro */
#intro h3 {
  width: 16rem;
  margin-top: 46.875rem;
}

/* Game Header */
.game-header {
  border-top: 2rem solid #bbbbcc;
  background-color: goldenrod;
}

.game-header h2 {
  width: 22rem;
  padding: 0.75rem 0 0.75rem;
}

/* Very Small Devices  ===================== */
@media only screen and (max-width: 23.375rem) {
  .game-header h2 {
    width: 19rem;
  }
}

/* Game Section */
#games {
  border-top: none;
  padding: 0 1rem 2.625rem;
  background-color: goldenrod;
  width: 100%;
  font-size: 0;
  font-family: 'Rubik', sans-serif;
  display: block;
}

form {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

span {
  font-size: 2rem;
  font-family: 'Rubik', sans-serif;
}

form > button {
  border: thin solid darkslategray;
  padding: 0.375rem 0.75rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(135deg, rgb(0, 179, 0) 0%, rgb(0, 122, 0) 100%);
  color: white;
  text-shadow: 1px 1px black;
}

form > button:hover {
  background: rgb(0, 179, 0);
  cursor: pointer;
}

form > button:active {
  box-shadow: inset 2px 2px 3px rgb(0, 122, 0);
  text-shadow: 1px 1px 1px darkslategray;
}

#answer {
  height: 14.375rem;
  position: relative;
}

/* Animations */
#nebulae {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: opaque 3s forwards;
}

#magicBall {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: shaky 1s;
}

#catFace {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: shaky 1s 1s;
}

#answerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: shaky 1s 2s forwards, verticalOscillate 2s 3s infinite;
}

/* Nav buttons */
#games > a {
  text-decoration: none;
  border-radius: 7px;
  border: thin solid darkslategray;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(135deg, rgb(255, 0, 0) 0%, rgb(171, 0, 0) 100%);
  color: white;
  text-shadow: 1px 1px black;
}

#games > #playAgain {
  background: linear-gradient(135deg, rgb(0, 179, 0) 0%, rgb(0, 122, 0) 100%);
  margin-right: 1.5rem;
}

#games > a:hover {
  background: rgb(255, 0, 0);
  cursor: pointer;
}

#games > #playAgain:hover {
  background: rgb(0, 179, 0);
  cursor: pointer;
}

#games > a:active {
  box-shadow: inset 2px 2px 3px rgb(171, 0, 0);
  text-shadow: 1px 1px 1px darkslategray;
}

#games > #playAgain:active {
  box-shadow: inset 2px 2px 3px rgb(0, 122, 0);
  text-shadow: 1px 1px 1px darkslategray;
}

/* Medium-Large and Large Devices  ========================================= */
@media only screen and (min-width: 50rem) {
  .desktop-bg {
    background: lightcoral left / contain no-repeat url('../images/Desktop-EightBall.jpg');
  }
  .mobile-hero-desktop-header {
    background: transparent;
    min-height: 0;
    height: 10.75rem;
  }
  h1 {
    padding: 5.25rem 1rem 0 4rem;
    width: 10.5rem;
    display: inline-block;
  }
  #intro {
    display: inline-block;
  }
  #eight-ball {
    top: 1rem;
    left: 35.5rem;
  }
  #intro h3 {
    width: 25rem;
    padding: 1rem 0 0 9rem;
    margin-top: 0;
  }
  .game-header {
    border-top: none;
    background-color: transparent;
  }
  .game-header h2 {
    width: 30rem;
    margin-left: 38%;
    padding: 3.5rem 0 1.5rem;
    color: #1f1f1f;
    text-shadow: none;
  }
  #games {
    background-color: transparent;
    padding: 0 1rem 2.625rem 19.5rem;
    height: 30.75rem;
  }
  form {
    text-align: left;
  }
  form input[type='text'] {
    width: 25rem;
  }
  #answer {
    height: 19.375rem;
  }
}
 