/* Animation at-rules */
@keyframes shaky {
  0% {
    transform: scale(0.75) translate(-50%, -50%);
    opacity: 0;
  }
  5% {
    transform: scale(0.85) translate(-62%, -60%);
    opacity: 0.45;
  }
  10% {
    transform: scale(0.85) translate(-40%, -45%);
    opacity: 0.05;
  }
  15% {
    transform: scale(0.85) translate(-35%, -67%);
    opacity: 0.3;
  }
  20% {
    transform: scale(0.95) translate(-45%, -35%);
    opacity: 0.1;
  }
  25% {
    transform: scale(0.85) translate(-65%, -40%);
    opacity: 0.33;
  }
  30% {
    transform: scale(1.05) translate(-55%, -70%);
    opacity: 0.17;
  }
  35% {
    transform: scale(0.85) translate(-55%, -45%);
    opacity: 0.25;
  }
  40% {
    transform: scale(0.85) translate(-30%, -40%);
    opacity: 0.10;
  }
  45% {
    transform: scale(0.85) translate(-45%, -62%);
    opacity: 0.2;
  }
  50% {
    transform: scale(0.65) translate(-70%, -30%);
    opacity: 0.15;
  }
  55% {
    transform: scale(0.85) translate(-55%, -55%);
    opacity: 0.3;
  }
  60% {
    transform: scale(0.95) translate(-30%, -60%);
    opacity: 0.15;
  }
  65% {
    transform: scale(0.85) translate(-60%, -35%);
    opacity: 0.2;
  }
  70% {
    transform: scale(0.75) translate(-65%, -67%);
    opacity: 0.05;
  }
  75% {
    transform: scale(0.85) translate(-70%, -50%);
    opacity: .35;
  }
  80% {
    transform: scale(0.85) translate(-33%, -30%);
    opacity: 0.2;
  }
  85% {
    transform: scale(0.85) translate(-40%, -55%);
    opacity: 0.25;
  }
  90% {
    transform: scale(0.95) translate(-35%, -37%);
    opacity: 0.05;
  }
  95% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0.33;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes verticalOscillate {
  0% {
    transform: translate(-50%, -50%);
  }
  8.3% {
    transform: translate(-50%, -40%);
  }
  16.7% {
    transform: translate(-50%, -30%);
  }
  25% {
    transform: translate(-50%, -20%);
  }
  33.3% {
    transform: translate(-50%, -30%);
  }
  41.7% {
    transform: translate(-50%, -40%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  58.3% {
    transform: translate(-50%, -60%);
  }
  66.7% {
    transform: translate(-50%, -70%);
  }
  75% {
    transform: translate(-50%, -80%);
  }
  83.3% {
    transform: translate(-50%, -70%);
  }
  91.7% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

/* Hero Header */
.mobile-hero-desktop-header {
  min-height: 62.75rem;
  background: center / cover no-repeat url('../images/EmmyPrincessLeiaCropped.jpg');
  position: relative;
}

h1 {
  width: 6.5rem;
  margin-inline: auto;
  padding: 1rem 0 0 0;
  text-shadow: 2px 2px 2px #ffffff54, -2px -2px 2px #ffffff54, -2px 2px 2px #ffffff54, 2px -2px 2px #ffffff54;
}

/* Intro */
#intro h3 {
  width: 18rem;
  margin-top: 45.5rem;
}

#eight-ball {
  width: 12.5rem;
  position: absolute;
  top: 40.5rem;
  right: 2.5rem;
}

#eight-ball img {
  width: 100%;
}

/* Game Header */
.game-header {
  border-top: 2rem solid #bbbbcc;
  background-color: lightcoral;
}

.game-header h2 {
  padding: 0.75rem 0 0.75rem;
}

/* Game Section */
#games {
  border-top: none;
  padding: 0 1rem 2.625rem;
  background-color: lightcoral;
  width: 100%;
  font-size: 0;
  font-family: 'Rubik', sans-serif;
  display: block;
}

form {
  padding-top: 0;
  text-align: center;
}

form label {
  display: block;
  padding: 0.5rem 0 0.25rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

form input {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
}

form input[type='text'] {
  width: 15.4375rem;
}

form input[type='button'] {
  border: none;
  padding: 0.25rem;
  font-size: 0.8125rem;
  height: 31px;
  vertical-align: top;
  background-color: cornflowerblue;
  color: white;
}

form input[type='button']:hover {
  background-color: rgb(111, 121, 235);
  cursor: pointer;
}

form input[type='button']:active {
  background-color: rgb(30, 144, 255)
}

#answer {
  height: 14.375rem;
  position: relative;
}

/* Animations */
#magicBall {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: shaky 1s;
}

#catFace {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: shaky 1s 1s;
}

#answerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: shaky 1s 2s forwards, verticalOscillate 2s 3s infinite;
}

/* Nav buttons */
#games > a {
  text-decoration: none;
  border-radius: 7px;
  border: thin solid darkslategray;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(135deg, rgb(255, 0, 0) 0%, rgb(171, 0, 0) 100%);
  color: white;
  text-shadow: 1px 1px black;
}

#games > #playAgain {
  background: linear-gradient(135deg, rgb(0, 179, 0) 0%, rgb(0, 122, 0) 100%);
  margin-right: 1.5rem;
}

#games > a:hover {
  background: rgb(255, 0, 0);
  cursor: pointer;
}

#games > #playAgain:hover {
  background: rgb(0, 179, 0);
  cursor: pointer;
}

#games > a:active {
  box-shadow: inset 2px 2px 3px rgb(171, 0, 0);
  text-shadow: 1px 1px 1px darkslategray;
}

#games > #playAgain:active {
  box-shadow: inset 2px 2px 3px rgb(0, 122, 0);
  text-shadow: 1px 1px 1px darkslategray;
}

/* Medium-Large and Large Devices ============================================*/
@media only screen and (min-width: 50rem) {
  .desktop-bg {
    background: lightcoral left / contain no-repeat url('../images/TallEditEmmyPrincessLeia.jpg');
  }
  .mobile-hero-desktop-header {
    background: transparent;
    min-height: 0;
    height: 10.75rem;
  }
  h1 {
    padding: 5.25rem 1rem 0 4rem;
    width: 10.5rem;
    display: inline-block;
  }
  #intro {
    display: inline-block;
  }
  #eight-ball {
    top: 1rem;
    left: 35.5rem;
  }
  #intro h3 {
    width: 25rem;
    padding: 1rem 0 0 9rem;
    margin-top: 0;
  }
  .game-header {
    border-top: none;
    background-color: transparent;
  }
  .game-header h2 {
    width: 30rem;
    margin-left: 38%;
    padding: 3.5rem 0 1.5rem;
    color: #1f1f1f;
    text-shadow: none;
  }
  #games {
    background-color: transparent;
    padding: 0 1rem 2.625rem 19.5rem;
    height: 30.75rem;
  }
  form {
    text-align: left;
  }
  form input[type='text'] {
    width: 25rem;
  }
  #answer {
    height: 19.375rem;
  }
}
 