/* Hero Header */
.mobile-hero-desktop-header {
  min-height: 0;
}

h1 {
  padding: 5.25rem 1rem 0;
  width: 10.5rem;
  text-shadow: 2px 2px 2px #ffffff54, -2px -2px 2px #ffffff54, -2px 2px 2px #ffffff54, 2px -2px 2px #ffffff54;
}

/* Intro */
#intro h3 {
  width: 20rem;
}

/* Game Header */
.game-header {
  border-top: 32px solid #bbbbcc;
  background-color: lightskyblue;
}

/* Game Section */
#games {
  border-top: none;
  padding: 0 1rem 42px;
  background-color: lightskyblue;
  height: auto;
}

.names-display,
.user-cta {
  border: thin solid slategray;
  width: 100%;
  height: 466px;
}

.user-cta {
  margin-top: 1rem;
}

/* Medium-Large and Large Devices */
@media only screen and (min-width: 800px) {
  .desktop-bg {
    background: lightskyblue left / contain no-repeat url('../images/TallEditEmmyBehindCurtain.jpg');
  }
  .mobile-hero-desktop-header {
    height: auto;
  }
  h1 {
    padding: 5.25rem 1rem 0 4rem;
    width: 10.5rem;
    display: inline-block;
  }
  #intro {
    display: inline-block;
  }
  #intro h3 {
    width: 36rem;
    padding: 1rem 0 0 9rem;
  }
  .game-header {
    border-top: none;
    background-color: transparent;
  }
  .game-header h2 {
    width: 30rem;
    margin-left: 38%;
    padding: 2.5rem 0 1.5rem;
    color: #1f1f1f;
    text-shadow: none;
  }
  #games {
    background-color: transparent;
    padding: 0 1rem 42px 19.5rem;
  }
  .names-display {
    display: inline-block;
    width: 49%;


  }
  .user-cta {
    margin-top: 0;
    display: inline-block;
    width: 50%;

  }
}
 