/* Global */
* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  padding: 0;
}

body {
  min-width: 20rem;
  max-width: 30rem;
  background-color: #1f1f1f;
  color: #1f1f1f;
  font-family: 'Proza Libre', sans-serif;
  margin: 0 auto;
}

/* Hero Header */
.mobile-hero-desktop-header {
  width: 100%;
  height: 100%;
  min-height: 45.875rem;
  background: center / cover no-repeat url('./resources/images/Mobile-Mainpage.png');
}

h1 {
  padding: 8rem 1rem 0;
  text-shadow: 2px 2px 2px #ffffff54, -2px -2px 2px #ffffff54, -2px 2px 2px #ffffff54, 2px -2px 2px #ffffff54;
}

/* Intro */
#intro {
  background-color: rgb(255, 255, 255, 0.40);
}

#intro h3 {
  line-height: 1.5;
  margin-top: 19rem;
  padding: 1rem 1rem;
  text-shadow: -1px -1px #ffffff54, 1px 1px #ffffff54;
  width: 20rem;
}

/* Game Header */
.game-header {
  background-color: rgb(0, 0, 0, 0.30);
}

.game-header h2 {
  width: 18rem;
  margin: 0 auto;
  padding: 1.5rem 0 1.5rem;
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px #00000054, 1px 1px 1px #000;
}

/* Game Section */
#games {
  border-top: 2rem solid #bbbbcc;
  background-color: #e6e6fa;
  padding: 1.5rem 1rem 2.625rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#games a {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 14.5rem;
  height: 19.5625rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

.card:hover {
  cursor: pointer;
}

.card-image > img {
  width: 100%;
  height: 100%;
  transition: transform 250ms;
  transform: scale(1);
}

.card-image {
  width: 100%;
  height: 14.5rem;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.1);
}

.card-text {
  background-color: linen ;
  padding: 0.75rem;
  border-radius: 0 0 10px 10px;
  font-family: 'Rubik', sans-serif;
}

.card:hover .card-text {
  background-color: lightgoldenrodyellow;
}

/* Small and Medium Devices */
.desktop-bg {
  background: transparent;
}

/* Medium-Large and Large Devices  ========================================= */
@media only screen and (min-width: 50rem) {
  body {
    max-width: 90rem;
    background-color: #bbbbcc;
  }
  .mobile-hero-desktop-header {
    background: transparent;
    min-height: 0;
    height: 17.125rem;
  }
  .desktop-bg {
    width: 100%;
    height: 17.125rem;
    background: #e6e6fa left / contain no-repeat url('./resources/images/Desktop-Mainpage.jpg');
    display: block;
  }
  h1 {
    padding: 12.5rem 1.5rem 0 3.75rem;
    width: 18rem;
    float: left;
  }
  #intro {
    background-color: inherit;
    display: inline-block;
    vertical-align: top;
  }
  #intro h3 {
    margin-top: 0;
    padding: 1rem 0 1rem 1rem;
  }
  .game-header {
    background-color: inherit;
  }
  .game-header h2 {
    width: 19rem;
    margin-left: 18rem;
    padding: 2rem 1rem 2rem 1rem;
    color: #1f1f1f;
    text-align: left;
  }
  #intro h3, .game-header h2 {
    text-shadow: none;
  }
  #games {
    border-top: none;
    padding: 2rem 1rem 2.625rem;
  }
}
